<div class="container">
      <div class="row">
        <div class="col-md-2">

        </div>
        <!--/span-->
        <div class="col-md-8">

          <div class="row">
            <h1 class="title" style="text-align:center;">Carrito de compras</h1>
          </div>

          <div class="well">
            <% if @orders.any? %>
              <table class="table table-bordered">
                <tr>
                  <th style="width:4em;"><%=link_to "Vaciar", orders_delete_all_path(current_user.id) %></th>
                  <th style="width:5em;">Id</th>
                  <th>Producto</th>
                  <th style="width:8em;">Cantidad</th>
                  <th style="width:8em;">Precio (AR$)</th>
                </tr>
                <% @orders.each do |ord| %>
                  <tr>
                    <td>
                      <%= link_to '<span class="glyphicon glyphicon-trash" aria-hidden="true">'.html_safe, ord, method: :delete %></td>
                    <td><%= ord.product.id %></td>
                    <td><%=link_to ord.product.title, ord.product %></td>
                    <td>
                      <%= link_to "-", orders_decrement_quantity_path(ord.id), class:"btn btn-xs btn-default", style:"margin:0px" %>
                      <span style="padding: 0em 0.4em; background-color: white; border: 1px solid #ccc; margin: 0px; vertical-align:middle;"><%= ord.quantity %></span>
                      <%= link_to "+", orders_increment_quantity_path(ord.id), class:"btn btn-xs btn-default", style:"margin:0px" %>
                    </td>
                    <td><%= ord.product.price %></td>
                  </tr>
                <% end %>
                
              </table>

              <table class="table table-bordered">
                <tr>
                  <th>Total</th>
                  <th style="width:8em;">$<%= @suma %></th>
                </tr>
              </table>
            <% else %>
              <h2 class="text-center">El carrito está vacío</h2>
            <% end %>
          </div>

          <% if @orders.any? %>
          <div class="pull-right" id="new-sale-button">
            <a href="sales/new" style="display: block; text-decoration:none;"><span style="color:black; font-weight:bold; font-size:1.2em;">Continuar compra con MercadoPago </span><%= image_tag "logo-mp.png", height: "25em" %></a>
          </div>
          <% end %>

        </div>
        <!--/span-->
        <div class="col-md-2">

        </div>
        <!--/span-->
      </div>
</div>
<!--/.fluid-container-->