<div>
  <ol class="breadcrumb">
    <li><%=link_to "Inicio", root_path %></li>
    <% if @category %>
      <li><%= link_to @category.name, products_path( :category_id => @category.id) %></li>
    <% end %>  
    <% if @search %>
      <li class="active">Busqueda: <%= @search %></li>
    <% else %>
      <li class="active">Productos</li>
    <% end %>
  </ol>
</div>


<div class="container">
  <div class="col-md-9">
    <h1 class="title" style="text-align:center; padding-bottom:0.3em;">Productos</h1>
      <div>
        <% @products.each do |p| %>
          <div class="col-xs-6 col-md-4"> <!-- 3 columnas en Medium devices y 2 en Extra Small devices -->
            <div class = "panel panel-personal">
              <div class = "panel-heading">
                <span class = "panel-title text-ellipsis"><%=link_to p.title, p %></span> <div class="pull-right"><span>$<%= p.price%></span></div>
              </div>
              <div class = "panel-body panel-producto">
                <!--IMAGEN--> 
                <% if @pictures.where(product_id: p.id).exists? %>
                  <% pic = @pictures.where(product_id: p.id).first %>
                  <%= link_to image_tag(pic.secure_url, alt: p.title, class: "preview-img center-block"), p%>
                <% else %>
                   <%= link_to image_tag("https://res.cloudinary.com/dqdpfuid7/image/upload/v1443571379/noimage_askejz.png", alt: p.title, class: "preview-img center-block"), p%>
                <%end%>
              </div>
              <div class = "panel-footer text-ellipsis">
                <div class="text-center">
                  <% if user_signed_in? && current_user.try(:admin?) %>
                    <%= link_to "Eliminar producto", p, data: { confirm: "¿Estás seguro?" }, :method => :delete , class:"btn btn-danger center-block" %>
                  <% else %>
                    <%= link_to "Añadir al carrito", new_order_path(product: p), class:"btn btn-success center-block" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <%end%>
      </div>

  </div>
  <!--/span-->
  <div class="col-md-3">
      <div class="sidebar-nav pull-right">
        <span class="negrita" style="text-align:center; font-size:1.5em">Categorias</span>
          <div class="well">
              <ul id="categories" class="nav">
                <% @categories.each do |c| %>
                  <li><%= link_to c.name, products_path( :category_id => c.id, :search => @search ), class:"category-link" %></li>
                <%end%>
              </ul>
          </div>
          <!--/.well -->
      </div>
      <!--/sidebar-nav -->
  </div>
  <!--/span-->
</div>
<!--/.fluid-container-->