<div>
  <ol class="breadcrumb">
    <li><%=link_to "Inicio", root_path %></li>
    <li><%=link_to "Productos", products_path %></li>
    <li><%=link_to @category.name, products_path(:category_id => @category.id) %></li>
    <li class="active"><%= @product.title %></li>
  </ol>
</div>

<div class="container">
      <div class = "row">
        <div class="col-md-12"><h2 class="negrita"><%= @product.title %></h2></div>
      </div>
      <div class="row">
        <div class="col-md-4">
            <div class="sidebar-nav-products">
                <div class="well">
                  <div style="padding-bottom:1em;">
                    <% if current_user.try(:admin?) %>
                      <% if @inappropriate > 0 %>
                        <% if @inappropriate == 1 %>
                          <span class="contenido-indebido"><span class="glyphicon glyphicon-remove"></span> Contenido marcado 1 vez como indebido.</span>
                        <% else %>
                          <span class="contenido-indebido"><span class="glyphicon glyphicon-remove"></span> Contenido marcado <%= @inappropriate %> veces como indebido.</span>
                        <% end %>
                      <% else %>
                        <span class="contenido-ok"><span class="glyphicon glyphicon-ok"></span> Contenido sin reclamos.</span>
                      <% end %>
                    <% end %>
                  </div>
                  <!-- Imagen principal -->
                  <div style='position:relative'>
                      <% if @pictures.count > 0 %>
                        <%= image_tag(@pictures.first.secure_url, alt: @product.title, class:"main-product-image center-block")%>
                      <% else %>
                         <%= image_tag("https://res.cloudinary.com/dqdpfuid7/image/upload/v1443571379/noimage_askejz.png", alt: @product.title, class:"main-product-image center-block")%>
                      <%end%>
                  </div>
                  <div style="padding-top:1em"></div>
                  <!-- Thumbnails -->
                  <div class="row">
                    <% if @pictures.count > 0 %>
                      <% @pictures.each do |p| %>
                        <div class="col-md-3" style='position:relative'>
                          <%= link_to image_tag(p.secure_url, alt: "Abrir imagen", class:"secondary-product-image img-rounded"), p.secure_url %>
                        </div>
                      <% end %>
                    <% end %>
                  </div>

                  <!--Datos del vendedor-->
                  <div class="panel panel-default" style="margin-top:1em;">
                    <div class="panel-heading">
                      <label>Datos del producto:</label>
                    </div>
                    <div class="panel-body">
                      <% if current_user.try(:admin?) %>
                        <label>Publicado por: </label> <%= @product.user.email %><br>
                      <% end %>
                      <label>Fecha de publicación: </label> <%= localize @product.created_at.in_time_zone('Buenos Aires'), format: :long %><br>
                      <label>Ubicación: </label> <%= @product.location %><br>
                      <label>Stock: </label> <%= @product.quantity %>
                    </div>
                  </div>

                  <!-- Denunciar contenido indebido y puntajes -->
                  <div class="row">
                    <%= form_tag feedback_create_path, method: :get do %>
                      <%= hidden_field_tag "product", @product.id %>
                      <%= hidden_field_tag "positive", 0 %>
                      <%= hidden_field_tag "negative", 0 %>
                      <%= hidden_field_tag "inappropriate", 1 %>
                      <div class="col-md-6">
                        <button name="button" type="submit" class="btn btn-danger btn" data-toggle="tooltip" data-placement="top" title="Su denuncia será procesada por los administradores.">Contenido indebido</button>
                      </div>
                    <% end %>
                      <div class="col-md-6">
                        <div class="pull-right">
                          <div class="col-md-6">
                          <%= form_tag feedback_create_path, method: :get do %>
                            <%= hidden_field_tag "product", @product.id %>
                            <%= hidden_field_tag "positive", 1 %>
                            <%= hidden_field_tag "negative", 0 %>
                            <%= hidden_field_tag "inappropriate", 0 %>
                      
                            <button name="button" type="submit" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Me gusta"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span><span class="badge"><%= @likes %></span></button>
                          <% end %>
                          </div>
                          <div class="col-md-6">
                          <%= form_tag feedback_create_path, method: :get do %>
                            <%= hidden_field_tag "product", @product.id %>
                            <%= hidden_field_tag "positive", 0 %>
                            <%= hidden_field_tag "negative", 1 %>
                            <%= hidden_field_tag "inappropriate", 0 %>
                            <button name="button" type="submit" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="No me gusta"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span><span class="badge"><%= @dislikes %></span></button>
                          <% end %>
                          </div>
                        </div>
                      </div>
                  </div>

                  <!--/.well -->
                </div>
              <!--/sidebar-nav -->
            </div>
        </div>
        <!--/span-->



        <div class="col-md-8" style="padding-top:1em;">
          <div class="well">
            <% if user_signed_in? %>
              <% if  current_user.try(:admin?) %>
                <%= link_to "Eliminar producto", @product, data: { confirm: "¿Estás seguro?" }, :method => :delete , class:"btn btn-danger center-block" %>
              <% end %>
            <% end %>
            <div class="panel panel-default">
              <div class="panel-heading">
                <label>Descripción del producto</label>
              </div>
              <div class="panel-body">
                <%= @product.description %>
              </div>
            </div>


            <div class="row">
              <div class="panel panel-default">
                <div class="panel-body">
                  <% if @in_cart %>
                    <div class="row">
                      <div class="col-md-6">
                        <span class="negrita" style="font-size:1.5em;">Precio unitario: $<%= @product.price %></span>
                      </div>
                      <div class="col-md-6">
                        <div class="pull-right">
                          <%= link_to "Producto en el carrito", orders_path, class:"btn btn-success" %>
                        </div>
                      </div>
                    </div>
                  <% else %>  
                    <%= form_tag new_order_path, method: :get do %>
                      <div class="row">
                        <div class="col-md-6">
                          <span class="negrita" style="font-size:1.5em;">Precio unitario: $<%= @product.price %></span>
                        </div>
                        <%= hidden_field_tag "product", @product.id %>
                        <div class="col-md-6">
                          <div class="pull-right">
                            <label>Cantidad de unidades: </label>
                            <%= number_field_tag 'quantity', 1, in: 1...11, :required => "required", class:"form-control" %>
                          </div>
                        </div>
                      </div>

                      <div class="row" style="padding-top:0.3em;">
                        <div class="col-md-12">
                          <div class="pull-right">
                            <%= submit_tag "Añadir al carrito", class:"btn btn-primary" %>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>


            <div class="row">
              <!-- Preguntas -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <label>Preguntas</label>
                </div>
                <div class="panel-body">
                  <%= render 'disqus' %>
                </div>
              </div>
            </div>



          </div>
        </div>
        <!--/span-->
      </div>



</div>
<!--/.fluid-container-->