<div class="container">
	<% if @sales.size > 0  %>
		<% @sales.each do |s| %>
			<% status = s.status.to_s %>
			<% transaction_amount = s.transaction_amount.to_s %>

			<% case status %>
			<% when "rejected" %>
				<% status = "RECHAZADO" %>
				<div class="panel panel-danger">
			<% when "pending" %>
				<%status = "PENDIENTE"%>
				<div class="panel panel-info">
			<% when "cancelled" %>
				<%status = "CANCELADO"%>
				<div class="panel panel-warning">
			<% when "approved" %>
				<%status = "APROBADO"%>
				<div class="panel panel-success">
			<% else %>
				<div class="panel panel-default">
				<% status = status.upcase %>
			<% end %>

			  <div class="panel-heading">
			    <h3 class="panel-title">ID de pago: <%=s.payment_id.to_s%> - Estado: <% if status == "APROBADO" %><span style="background-color: Green; color: White;"><%end%><%=status%><% if status == "APROBADO" %></span><%end%> - Monto de compra: <%= transaction_amount %></h3>
			  </div>
			  <div class="panel-body">
			    Fecha de creacion: <%= localize s.created_at.in_time_zone('Buenos Aires'), format: :long %><br>
			    <table class="table table-condensed">
			    	<tr>
						  <th style="text-align: left;">Precio unitario</th>
						  <th style="text-align: left;">Cantidad</th>
						  <th style="text-align: left;">Nombre (ID)</th>
						  <th style="text-align: left;">Precio total</th>
						</tr>
			    	<%= simple_format(s.description, {}, sanitize: false)%>
			    </table>
			  </div>
			</div>
		<% end %>
	<% else %>
		<div class="container">
			<div class="text-center"><h2>No existen compras. <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></h2></div>
		</div>
	<% end %>
</div>