<% if @sales.size > 0  %>
	<% @sales.each do |s| %>
		<% payment = MP_CLIENT.get_payment_info(s.payment_id) %>
		<% status = payment['response']['collection']['status'] %>
		<% transaction_amount = "$" + payment['response']['collection']['transaction_amount'] %>
		<% if status == "pending"%>
			<div class="panel panel-info">
		<% end %>
		<% if status == "cancelled"%>
			<div class="panel panel-danger">
		<% end %>
		<% if status == "approved"%>
			<div class="panel panel-success">
		<% end %>
		<% if (status != "approved") && (status != "cancelled") && (status != "pending")%>
			<div class="panel panel-default">
		<% end %>
		  <div class="panel-heading">
		    <h3 class="panel-title">Id de pago: <%= s.payment_id %> - Estado: <%= status %> - Monto: <%= transaction_amount %></h3>
		  </div>
		  <div class="panel-body">
		    Fecha de creacion: <%= localize s.created_at.in_time_zone('Buenos Aires'), format: :long %><br>
		    <table class="table table-condensed">
		    	<%= simple_format(s.description, {}, sanitize: false)%>
		    </table>
		  </div>
		</div>
	<% end %>
<% end %>