<% if @sales.size > 0  %>
	<% @sales.each do |s| %>
		<% payment = MP_CLIENT.get_payment_info(s.payment_id) %>
		<% status = payment['response']['collection']['status'].to_s %>
		<% transaction_amount = "$" + payment['response']['collection']['transaction_amount'].to_s %>
		<% if status == "pending"%>
			<%status = "PENDIENTE"%>
			<div class="panel panel-info">
		<% end %>
		<% if status == "cancelled"%>
			<%status = "CANCELADO"%>
			<div class="panel panel-danger">
		<% end %>
		<% if status == "approved"%>
			<%status = "APROBADO"%>
			<div class="panel panel-success">
		<% end %>
		<% if (status != "APROBADO") && (status != "CANCELADO") && (status != "PENDIENTE")%>
			<div class="panel panel-default">
		<% end %>
		  <div class="panel-heading">
		    <h3 class="panel-title">Id de pago: <%= s.payment_id.to_s %> - Estado: <%= status %> - Monto: <%= transaction_amount %></h3>
		  </div>
		  <div class="panel-body">
		    Fecha de creacion: <%= localize s.created_at.in_time_zone('Buenos Aires'), format: :long %><br>
		    <table class="table table-condensed">
		    	<tr>
					  <th id="sale-th-center">Precio unitario</th>
					  <th id="sale-th-center">Cantidad</th>
					  <th id="sale-th-center">Nombre (ID)</th>
					  <th id="sale-th-center">Precio total</th>
					</tr>
		    	<%= simple_format(s.description, {}, sanitize: false)%>
		    </table>
		  </div>
		</div>
	<% end %>
<% else %>
	<h2>No tienes ninguna compra. ¿Qué estás esperando?</h2>
<% end %>