<!DOCTYPE html> 
<html>


<head>
  <title>ZigZag Commerce</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="ZigZag Commerce. E-Commerce website.">
  <meta name="author" content="Liotta, Emiliano">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>


<body>

	<%= render 'layouts/header' %>


  <div id="cuerpo">
    <div class="container"><%= render partial: "layouts/flash_messages", locals: {flash: flash} %></div>
    <%= yield %>
  </div>






<footer>
  <span>
    Desarrollado por <span class="negrita">ZigZagCommerce</span><span style="padding-left:1em;">-</span><span style="padding-left:1em;">2015</span>
  </span>
</footer>

</body>
</html>
